<form class="form">
  <h1>Adicionando Novo Usuário</h1>
<mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input  [(ngModel)]="usuario.nome"  name="nome" matInput placeholder="">


  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input  [(ngModel)]="usuario.email"  name="e-mail" matInput placeholder="">

  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Matricula</mat-label>
    <input  [(ngModel)]="usuario.matricula"  name="matricula" matInput placeholder="">

  </mat-form-field>

  <!-- <mat-form-field class="full-width">
    <mat-label>Senha</mat-label>
    <input  [(ngModel)]="usuario.senha"  name="senha" matInput placeholder="">

  </mat-form-field> -->

  <button (click)="create()"  mat-stroked-button color="accent">Salvar</button>
  <button (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>


</form>

