<div class="container">
  <div class="labels">


  <mat-form-field>
    <mat-label>Selecione o Usuario</mat-label>
    <mat-select [(value)]="requisicao.usuario">
    <mat-option *ngFor="let us of usuario" value="{{us.id}}">{{us.nome}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Selecione a Material</mat-label>
    <mat-select [(value)]="requisicao.material">
    <mat-option *ngFor="let sl of material" value= "{{sl.id}}">{{sl.nome}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Quantidade</mat-label>
    <input [(ngModel)]="requisicao.quantidade" required="quantidade" maxlength="3" name="quantidade" matInput placeholder="">

  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="agendamento.horaInicio" name="data">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hora</mat-label>
    <input matInput type="time" [(ngModel)]="agendamento.hora" name="hora">
  </mat-form-field> -->





</div>

<button class="mat-elevation-z8" (click)="create()"  mat-stroked-button color="accent">Salvar</button>
<button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>



</div>





